.esdDiv .row:first-child{
	margin-top: 4px;
}
.esdDiv .row{
	background-color: #FAEFE1;
	padding: 8px;
}
.esdDiv .label{
	font-style: italic;
	font-weight: normal;
}
.esdDiv .value{
	color: #00446a;
	font-size: 2em;
}
