.esdDiv {
	overflow: hidden;
	margin-top: 4px;
	background-color: #FAEFE1;
	padding: 8px;
}
.esdLabel{
	font-style: italic;
	font-weight: normal;
	color: #918C86;
}
.esdDiv .value{
	color: #00446a;
	font-size: 1.5em;
}
.eea-tabs {
	margin-top: 10px !important;
}
#visual-portal-wrapper ul.eea-tabs a{
	height: 100% !important;
	max-width: 100% !important;
}

.template-esdrt-content-observation .datagridwidget-cell .int-field {
	width: 8em;
}
.estTable {
	max-width: 100%;
	width: 100%;
	overflow: auto;
	/**border-width: 0px 0px 0px 1px;
	border-style: dotted;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;*/
	border: 1px solid #b6b6b6;
	color: #666666;
	line-height: normal;
}
.estTable th{
	cursor: auto !important;
	text-align: center;
	background-color: #005e7d;
	color: #fff;
	padding: 4px;
	width: 9%;
}
.estTable th:first-child{
	width: 37%;
	text-align: left;
}
.estTable td{
	padding: 4px;
}
.estTable tbody tr:nth-child(odd) {
	background: #eee;
}
.estTable tbody tr:nth-child(even) {
	background: #fff;
}